@model IEnumerable<Phase3App01.Models.Productlist>

@{
    ViewData["Title"] = "ViewProducts";
}

<h1>ViewProducts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pdetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pdetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sname)
            </td>
            <td>
                <a asp-action="AddCart" asp-route-id="@item.Pid">Add to Cart</a> |
                <a asp-action="Details" asp-route-id="@item.Pid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Pid">Delete</a>
            </td>
        </tr>
}
        
    </tbody>
</table>
